body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 35em;
  height: 35em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.grid {
  border: 0.1px solid white;
  background-color: white;
}

.grid:hover, .grid-clicked {
  background-color: black;
}
