body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(22, 22, 74);
}

h1 {
  font-family: 'Rowdies', cursive;
  color: peru;
}

.container{
  display: flex;
  align-items: center;
}

.grid-container {
  display: grid;
  width: 35em;
  height: 35em;
  background-color: white;
  box-shadow: rgba(255, 254, 254, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
  cursor: url(./docs/pencil-cursor.png), default
}

.grid {
  border: 0.1px solid rgb(226, 226, 226);
  background-color: white;
}

.left-navbar {
  border: 3px dotted peru;
  border-radius: 10px;
  height: 20em;
  width: 8em;
  padding: 2em;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Handjet', cursive;
}

h2 {
  color: peru
}

.large-grid,
.medium-grid,
.small-grid,
.color-button,
.clear-button {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Handjet', cursive;
  cursor: pointer;
  background-color: burlywood;
  border: none;
  border-radius: 5px;
}

.large-grid:hover,
.medium-grid:hover,
.small-grid:hover,
.color-button:hover,
.clear-button:hover {
  background-color: tomato;
}

footer {
  font-size: 14px;
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: peru;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

img {
  margin-top: 3px;
}